<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="https://solarsecure.in/wp-content/uploads/2021/04/cropped-LOgo-2-1-32x32.png" type="">

  <title> Solar Secure Solutions </title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

  <!--owl slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.css" />
  <!-- nice select  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />
  <!-- font awesome style -->
  <link href="css/font-awesome.min.css" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="css/responsive.css" rel="stylesheet" />

</head>

<body class="sub_page">

  <div class="hero_area">
    <div class="bg-box">
      <img src="images/hero-bg.png" alt="">
    </div>
    <!-- header section strats -->
    <header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="favicon" href="/">
            <img src="images/solar.png">
          </a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""> </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  mx-auto ">
              <li class="nav-item ">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="products">Menu</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/bookatable">Book A Table</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#footersection">Contact Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="legal">Privacy Policy</a>
              </li>
            </ul>
            <div class="user_option">
               <!--<a href="" class="user_link">
                <i class="fa fa-user" aria-hidden="true"></i>
              </a> -->
              <a class="cart_link" href="nocart"> <img src="images/cart.png">

                <!-- <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029" style="enable-background:new 0 0 456.029 456.029;" xml:space="preserve">
                  <g>
                    <g>
                      <path d="M345.6,338.862c-29.184,0-53.248,23.552-53.248,53.248c0,29.184,23.552,53.248,53.248,53.248
                   c29.184,0,53.248-23.552,53.248-53.248C398.336,362.926,374.784,338.862,345.6,338.862z" />
                    </g>
                  </g>
                  <g>
                    <g>
                      <path d="M439.296,84.91c-1.024,0-2.56-0.512-4.096-0.512H112.64l-5.12-34.304C104.448,27.566,84.992,10.67,61.952,10.67H20.48
                   C9.216,10.67,0,19.886,0,31.15c0,11.264,9.216,20.48,20.48,20.48h41.472c2.56,0,4.608,2.048,5.12,4.608l31.744,216.064
                   c4.096,27.136,27.648,47.616,55.296,47.616h212.992c26.624,0,49.664-18.944,55.296-45.056l33.28-166.4
                   C457.728,97.71,450.56,86.958,439.296,84.91z" />
                    </g>
                  </g>
                  <g>
                    <g>
                      <path d="M215.04,389.55c-1.024-28.16-24.576-50.688-52.736-50.688c-29.696,1.536-52.224,26.112-51.2,55.296
                   c1.024,28.16,24.064,50.688,52.224,50.688h1.024C193.536,443.31,216.576,418.734,215.04,389.55z" />
                    </g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                </svg> -->
              </a>
              
              <a href="products" class="order_online">
                Order Online
              </a>
            </div>
          </div>
        </nav>
      </div>
    </header>
    
    <!-- end header section -->
  </div>

  <!-- food section -->



 




 
  <section class="cart container mt-2 my-3 py-5">
    <div class="container mt-2">
      <h4>Your Cart</h4>
    </div>

    <table class="pt-5" style="width: 100%">
      <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Subtotal</th>
      </tr>

      
      
      <% cart.forEach(function(item) { %>
     
          <tr>
            <td>
              <div class="product-info">
                <img style="width:50px; height:50px"  src="images/<%= item.image %>">
                <div>
                  <p><%= item.name %></p>

                  <% if(item.sale_price){ %>
                    <small><span>$</span><%= item.sale_price %></small>
                 <% } else { %>   
                  <small><span>$</span><%= item.price %></small>
                  <% } %>
                  <br>


                  <form method="post" action="/remove_product"> 
                    
                        <input type="hidden" name="id" value="<%= item.id %>">
                        <input type="submit" name="remove_btn" class="remove-btn" value="remove">
                  </form>
                </div>
              </div>
            </td>

            <td>
              <form method="post" action="/edit_product_quantity">
              
                <input type="hidden" value="<%= item.id %>" name="id">
                <input type="submit" value="-" class="edit-btn" name="decrease_product_quantity">
                <input type="text" name="quantity" value="<%= item.quantity %>" readonly>
                <input type="submit" value="+" class="edit-btn" name="increase_product_quantity">
              </form>

              
            </td>

            <td>

                <% if(item.sale_price){ %>
                   <span class="product-price">$ <%= item.sale_price * item.quantity %></span>
                <% } else { %> 
                    <span class="product-price">$ <%= item.price * item.quantity %></span>
                <% } %>    
              
            </td>
          </tr>
     
          <% }) %> 
        
    </table>




    <div class="cart-total">
      <table>
        
        <tr>
          <td>Total</td>
       
            <td>$ <%= total %></td>
          
        </tr>
        
      </table>
    </div>
    
    

    
    <div class="checkout-container">

      <form method="get" action="/checkout">
        <input type="submit" class="btn checkout-btn" value="Checkout" name="">
      </form>
 
    </div>






  </section>








  <!-- end food section -->

    <!-- footer section -->
    <footer class="footer_section" id="footersection">
      <div class="container">
        <div class="row">
          <div class="col-md-4 footer-col">
            <div class="footer_contact">
              <h4>
                CONTACT US
              </h4>
              <div class="contact_link_box">
                <a href="https://www.google.com/maps/place/IIIT-H+%7C+The+International+Institute+of+Information+Technology+-+Hyderabad/@17.4448649,78.3476251,17z/data=!3m1!4b1!4m5!3m4!1s0x3bce0a03f17ff82b:0x9d02e89b98deb496!8m2!3d17.4448649!4d78.3498138/"
                  target="_blank">
                  <i class="fa fa-map-marker" aria-hidden="true"></i>
                  <span>
                    IIIT-H | The International Institute of Information Technology - Professor CR Rao Rd, Gachibowli,
                    Hyderabad, Telangana 500032
                  </span>
                </a>
                <a href="tel:+9848739590">
                  <i class="fa fa-phone" aria-hidden="true"></i>
                  <span>
                    Call +91 9848739590
                  </span>
                </a>
                <a href="mailto:rohan.iiith@gmail.com">
                  <i class="fa fa-envelope" aria-hidden="true"></i>
                  <span>
                    rohan.iiith@gmail.com
                  </span>
                </a>
                <a href="https://github.com/EswaraRohan/" target="_blank">
                  <i class="fa fa-github" style="font-size:24px"></i>
                  <span>
                    Github - EswaraRohan
                  </span>
                </a>
                <a href="https://www.linkedin.com/in/eswara-rohan-er2002/" target="_blank">
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                  <span>
                    Linkedin - Eswara Rohan
                  </span>
                </a>
  
                <a href="              https://drive.google.com/file/d/1WaXI0EbvteeZfoNOKrXnv2oNrh2z4La5/view?usp=sharing
                " target="_blank">
                  <i class="fa fa-cloud"></i>
                  <span>
                    Resume - Eswara Rohan
                  </span>
                </a>
  
              </div>
            </div>
          </div>
          <div class="col-md-4 footer-col">
            <div class="footer_detail">
              <a href="" class="footer-logo">
                SOLAR SECURE
              </a>
              <p>
                A GLOBAL PROMISE OF QUALITY.
                We pride ourselves on our firm commitment to good food and great taste with a globally executed quality
                assurance programme.
                All produce is fresh, all suppliers are approved and certified by SOLAR SECURE SOLUTIONS.
                We remain invested in our flame grilling - something that makes our offerings rare.
              </p>
              <div class="footer_social">
  
                <a href="https://www.linkedin.com/in/eswara-rohan-er2002/" target="_blank">
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
                <a href="https://www.instagram.com/eswara_rohan/" target="_blank">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
                <a href="https://www.facebook.com/eswara.rohan/" target="_blank">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="https://twitter.com/EswaraRohan" target="_blank">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
                <a href="https://www.pinterest.com/solarsecuresocial/" target="_blank">
                  <i class="fa fa-pinterest" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4 footer-col">
            <a href="legal" class="footer-logo">
              LEGAL INFO
            </a>
            <p>
              <a href="legal/#termsandconditions" class="legal"> Terms And Conditions
              </a>
            </p>
            <p>
              <a href="legal/#privacy" class="legal">Privacy Policy</a>
            </p>
          </div>
        </div>
        <div class="footer-info">
          <p>
            &copy; <span id="displayYear"></span> All Rights Reserved By
            <a href="https://html.design/">Free Html Templates</a>
          </p>
        </div>
      </div>
    </footer>
    <!-- footer section -->
  <!-- jQery -->
  <script src="js/jquery-3.4.1.min.js"></script>
  <!-- popper js -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <!-- bootstrap js -->
  <script src="js/bootstrap.js"></script>
  <!-- owl slider -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
  </script>
  <!-- isotope js -->
  <script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
  <!-- nice select -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
  <!-- custom js -->
  <script src="js/custom.js"></script>
  <!-- Google Map -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">
  </script>
  <!-- End Google Map -->

</body>
<script>
  console.log(cart);
</script>

</html>

